.post-container {
    display: flex;
    padding: 1rem 0;
    width: 100%;
}

.profile img {
    border-radius: 999px;
}

.profile {
    flex-shrink: 0;
}


.post-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-left: 1rem;
    justify-content: flex-start;
    text-align: left;
    flex-shrink: 1;
    width: 100%;
}

.profile-info {
    font-size: 0.8rem;
}

.fullname {
    font-weight: bold;
}

.username {
    color: gray;
}

.react-to-post {
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.react-to-post i {
    font-size: 1.3rem;
    color: gray;
}